<% if @locations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Location.human_attribute_name 'coordinates' %></th>
        <th><%= Location.human_attribute_name 'device_id' %></th>
        <th><%= Location.human_attribute_name 'taken_at' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.coordinates %></td>
          <td><%= location.device_id %></td>
          <td><%= location.taken_at %></td>
          <td><%= link_to_show location %></td>
          <td><%= link_to_edit edit_location_path(location) if can? :update, location %></td>
          <td><%= link_to_destroy location if can? :destroy, location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @locations %>
<% end %>

<div class="panel-footer">
  <%= link_to(
    t('view.locations.new', default: :'label.new'),
    new_location_path, class: 'btn btn-primary'
  ) if can? :create, Location %>
</div>
