<% if @locations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Location.human_attribute_name 'coordinates' %></th>
        <th><%= Location.human_attribute_name 'truck' %></th>
        <th><%= Location.human_attribute_name 'taken_at' %></th>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= location.coordinates %></td>
          <td><%= location.truck %></td>
          <td><%= l(location.taken_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @locations %>
<% end %>
