<h2><%= @location %></h2>

<p>
  <strong><%= Location.human_attribute_name 'coordinates' %></strong>:
  <%= @location.coordinates %>
</p>
<p>
  <strong><%= Location.human_attribute_name 'device_id' %></strong>:
  <%= @location.device_id %>
</p>
<p>
  <strong><%= Location.human_attribute_name 'taken_at' %></strong>:
  <%= @location.taken_at %>
</p>

<div class="panel-footer">
  <%= link_to t('label.edit'), edit_location_path(@location) if can? :update, @location %> |
  <%= link_to t('label.list'), locations_path %>
</div>
